
Project Lunen/Library/ScriptAssemblies/Assembly-CSharp.dll
Project Lunen/Library/ScriptAssemblies/Assembly-CSharp.pdb
Project Lunen/Library/SpriteAtlasDatabase.asset
Project Lunen/Library/SourceAssetDB
Project Lunen/Library/ArtifactDB
Project Lunen/Library/ArtifactDB
Project Lunen/Library/SourceAssetDB
Project Lunen/Library/StateCache/Hierarchy/3db836-mainStage.json
Project Lunen/Temp/UnityLockfile
Project Lunen/Temp/UnityLockfile
